################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RFQ.UI/.vs/RFQ.UI/v17/.futdcache.v2
*.vsidx
*.bin
/RFQ.UI/.vs/RFQ.UI/v17/HierarchyCache.v1.txt
*.suo
*.v2
*.wsuo
/.vs/RFQUI/v17
*.sqlite
*.log
/.vs
/RFQ.UI/.vs/RFQ.UI
/RFQ.UI/bin/Debug/net8.0
/RFQ.UI/obj
/RFQ.UI.Application/bin/Debug/net8.0
/RFQ.UI.Application/obj
/RFQ.UI.Domain/bin/Debug/net8.0
/RFQ.UI.Domain/obj
/RFQ.UI.Infrastructure/bin/Debug/net8.0
/RFQ.UI.Infrastructure/obj
/RFQ.UI/bin/Release/net8.0
/RFQ.UI.Application/bin/Release/net8.0
/RFQ.UI.Domain/bin/Release/net8.0
/RFQ.UI.Infrastructure/bin/Release/net8.0
Logs/